* {padding:0; margin:0; box-sizing: border-box;}

body {
  background-color: #bbb;
  min-width:100vw;
  overflow-x: hidden;
  
}




/* 


What do you design for?

Are you trying for yourself?

What's your best?

Do you think you can hide the truth?

You can hide everyone, but you can't hide yourself.

If you already know all, what are you waiting for?


*/